### Data Selection

Free recall studies to use in analysis of phonetic clustering.

- Intracranial
    - FR1
    - pyFR
    - IFR1
    
- Scalp
    - ltpFR2
        - sessions 0-22 (final sessions has different words presented)

In [24]:
# imports
import numpy as np
import pandas as pd; pd.set_option('display.max_columns', None)
import cmlreaders as cml
from tqdm.notebook import tqdm

In [20]:
df = cml.get_data_index()

df_intrac = df[df.experiment.isin(['FR1', 'pyFR', 'IFR1'])]
df_scalp = df[(df['experiment'] == 'ltpFR2') & (df['session'] != 23)]

In [21]:
df_intrac

,Recognition,all_events,contacts,experiment,import_type,localization,math_events,montage,original_experiment,original_session,pairs,ps4_events,session,subject,subject_alias,system_version,task_events
8,NaN,protocols/r1/subjects/R1001P/experiments/FR1/s...,protocols/r1/subjects/R1001P/localizations/0/m...,FR1,build,0,protocols/r1/subjects/R1001P/experiments/FR1/s...,0,NaN,0,protocols/r1/subjects/R1001P/localizations/0/m...,NaN,0,R1001P,R1001P,NaN,protocols/r1/subjects/R1001P/experiments/FR1/s...
9,NaN,protocols/r1/subjects/R1001P/experiments/FR1/s...,protocols/r1/subjects/R1001P/localizations/0/m...,FR1,build,0,protocols/r1/subjects/R1001P/experiments/FR1/s...,0,NaN,1,protocols/r1/subjects/R1001P/localizations/0/m...,NaN,1,R1001P,R1001P,NaN,protocols/r1/subjects/R1001P/experiments/FR1/s...
17,NaN,protocols/r1/subjects/R1002P/experiments/FR1/s...,protocols/r1/subjects/R1002P/localizations/0/m...,FR1,build,0,protocols/r1/subjects/R1002P/experiments/FR1/s...,0,NaN,0,protocols/r1/subjects/R1002P/localizations/0/m...,NaN,0,R1002P,R1002P,NaN,protocols/r1/subjects/R1002P/experiments/FR1/s...
18,NaN,protocols/r1/subjects/R1002P/experiments/FR1/s...,protocols/r1/subjects/R1002P/localizations/0/m...,FR1,build,0,protocols/r1/subjects/R1002P/experiments/FR1/s...,0,NaN,1,protocols/r1/subjects/R1002P/localizations/0/m...,NaN,1,R1002P,R1002P,NaN,protocols/r1/subjects/R1002P/experiments/FR1/s...
25,NaN,protocols/r1/subjects/R1003P/experiments/FR1/s...,protocols/r1/subjects/R1003P/localizations/0/m...,FR1,build,0,protocols/r1/subjects/R1003P/experiments/FR1/s...,0,NaN,NaN,protocols/r1/subjects/R1003P/localizations/0/m...,NaN,0,R1003P,R1003P,1.0,protocols/r1/subjects/R1003P/experiments/FR1/s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,2,UP045,NaN,NaN,NaN
374,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,3,UP045,NaN,NaN,NaN
375,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,0,UP046,NaN,NaN,NaN
376,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,1,UP046,NaN,NaN,NaN
377,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,2,UP046,NaN,NaN,NaN

In [22]:
df_scalp

,Recognition,all_events,contacts,experiment,import_type,localization,math_events,montage,original_experiment,original_session,pairs,ps4_events,session,subject,subject_alias,system_version,task_events
487,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP093/experiments/ltpF...,0,NaN,0,NaN,NaN,0,LTP093,LTP093,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...
488,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP093/experiments/ltpF...,0,NaN,1,NaN,NaN,1,LTP093,LTP093,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...
489,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP093/experiments/ltpF...,0,NaN,10,NaN,NaN,10,LTP093,LTP093,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...
490,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP093/experiments/ltpF...,0,NaN,11,NaN,NaN,11,LTP093,LTP093,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...
491,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP093/experiments/ltpF...,0,NaN,12,NaN,NaN,12,LTP093,LTP093,NaN,protocols/ltp/subjects/LTP093/experiments/ltpF...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6526,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP393/experiments/ltpF...,0,NaN,5,NaN,NaN,5,LTP393,LTP393,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...
6527,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP393/experiments/ltpF...,0,NaN,6,NaN,NaN,6,LTP393,LTP393,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...
6528,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP393/experiments/ltpF...,0,NaN,7,NaN,NaN,7,LTP393,LTP393,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...
6529,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP393/experiments/ltpF...,0,NaN,8,NaN,NaN,8,LTP393,LTP393,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...
6530,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...,NaN,ltpFR2,build,0,protocols/ltp/subjects/LTP393/experiments/ltpF...,0,NaN,9,NaN,NaN,9,LTP393,LTP393,NaN,protocols/ltp/subjects/LTP393/experiments/ltpF...

In [17]:
df_intrac.groupby('experiment')[['subject', 'session']].count()

            subject  session
experiment
FR1             589      589
IFR1             31       31
pyFR            378      378

In [26]:
load_evs = 0
err_evs = 0
for _, row in tqdm(df_scalp.iterrows()):
    reader = cml.CMLReader(row.subject, row.experiment, row.session)
    
    try:
        evs = reader.load('events')
        load_evs += 1
    except BaseException as e:
        err_evs += 1
        
load_evs, err_evs

0it [00:00, ?it/s]

/home1/hherrema/.conda/envs/bids/lib/python3.11/site-packages/cmlreaders/readers/readers.py:272: UserWarning: Changing events session field from -999 to 10 to match data index.
  warnings.warn(f'Changing events session field from {df["session"].unique()[0]} ' +

(2374, 1)